body {
  padding-top: 70px;
}

/*trying to get the infinite color transition animation working*/
/*h1 {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
}*/

#linkedin {
    margin: 40px 0 40px 0;
}

@media screen and (max-width: 767px) {
    .jumbotron {
        width: calc(100% + 2em);
        margin-left: -1em;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    h1 {
        text-align: center;
    }
}
